tokens/bot_token.txt
tokens/openai_key.txt
tokens/coins.txt
text_files/shared/shiny_days.txt
text_files/shared/owner.txt
text_files/shared/admins.txt
text_files/shared/user_nicknames.txt
text_files/chat_gpt_instructions/*
text_files/minecraft_server/rcon_ip.txt
text_files/minecraft_server/rcon_password.txt
text_files/minecraft_server/rcon_port.txt
text_files/minecraft_server/server_ip.txt
text_files/minecraft_server/server_port.txt
text_files/minecraft_server/google_drive_link.txt
__pycache__/
.vscode/
cache/
*.py[cod]
*$py.class